---
interface Props {
  class?: string;
}
const { class: className } = Astro.props;
---

<span class:list={['flex items-center gap-2', className]}>
  <span class="font-heading text-lg font-semibold tracking-tight">
    @pulgueta/wompi
  </span>
</span>
