---
import SidebarNav from "./SidebarNav.astro";
---

<aside class="hidden lg:block">
  <div
    class="no-scrollbar sticky top-14 h-[calc(100dvh-3.5rem)] overflow-y-auto border-r border-border py-8 pr-5"
  >
    <SidebarNav />
  </div>
</aside>
